div{
margin: 10px ;
background-color: aliceblue;
color: blueviolet;
padding: 20px;

}
.hi{
background-color: antiquewhite;
margin-bottom: 10px;
color: blueviolet;

}
input[type="text"],
input[type="email"],
input[type="password"] {
    color: blueviolet; /* Change this to the desired text color */
}